<div class="product-list">
    <h3 class="title-list">{{ title }}</h3>
    <div class="info-product">
        {% if filter %}
            <span class="text-product">Herramienta</span>
            <span class="text-product">Tamaño</span>
            <span class="text-product">Cantidad</span>
        {% else %}
            <span class="text-product">ID</span>
            <span class="text-product">Herramienta</span>
            <span class="text-product">Tamaño</span>
        {% endif %}
    </div>
    <div class="products">
        {% if filter %}
            {% if is_movement %}
                {% for product in query %}
                    <p class="info-product">
                        <span class="text-product">{{ product.producto__descripcion }}</span>
                        <span class="text-product">{{ product.producto__tamanio }}</span>
                        <span class="text-product">{{ product.producto__descripcion__count }}</span>
                    </p>
                {% endfor %}
            {% else %}
                {% for product in query %}
                    <p class="info-product">
                        <span class="text-product">{{ product.descripcion }}</span>
                        <span class="text-product">{{ product.tamanio }}</span>
                        <span class="text-product">{{ product.descripcion__count }}</span>
                    </p>
                {% endfor %}
            {% endif %}
        {% else %}
            {% for product in query %}
                <a class="info-product" href="{% url 'app:movement' option=option_selected id_mov=product.pk %}">
                    <span class="text-product">{{ product.producto__pk }}</span>
                    <span class="text-product">{{ product.producto__descripcion }}</span>
                    <span class="text-product">{{ product.producto__tamanio }}</span>
                </a>
            {% endfor %}
        {% endif %}
    </div>
</div>