.card {
    border: 1px solid #bbb;
    border-radius: 5px;
    width: 350px;
}

.card a {
    text-decoration: none;
    color: #000
}

.card-title {
    font-size: 1.5em;
}
.card-subtitle {
    font-size: 1.2em;
    font-weight: 600;
}

.card-text {
    font-size: 1em
}