<form class="form-item">
    <h1>Registrar uso de {% if type_product == 'HERRAMIENTA' %}herramienta{% else %}equipo{% endif %}</h1>
    {% csrf_token %}
    {% if item_use %}
        <input type="hidden" name="url">
    {% endif %}
    <div class="box">
        <div class="box-content">
            <label>{{item.descripcion}}</label>
        </div>
        <div class="box-content">
            <section>
                <label for="cantidad_uso">Cantidad</label>
                <input type="number" step="any" name="cantidad_uso" id="cantidad_uso" {% if item %} value="{{ item.cantidad|default:0 }}" {% endif%}>
            </section>
        </div>
        <div class="box-content">
            <section>
                <label for="sl_status">Status</label>
                <select name="sl_status" id="sl_status" class="select-required">
                    <option selected value="En uso" >En uso</option>
                    <option value="Listo" >Listo</option>
                    <option value="Mantenimiento" >Mantenimiento</option>
                    <option value="Dañado" >Dañado</option>
                </select>
            </section>
        </div>
        <div class="box-content">
            <section>
                <label for="condicion">Condición</label>
                <input type="text" name="condicion" id="condicion" {% if item %} value="{{ item.condicion|default:'' }}" {% endif%}>
            </section>
        </div>
    </div>
    <div class="box">
        <div class="btns-form">
            <button type="submit">Registrar uso</button>
            <button type="button" class="close-form-container">Cerrar</button>
        </div>
    </div>
</form>