{% load static %}
<!DOCTYPE html>
<html lang="es-MX">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %} | IMA</title>
    <link rel="icon" type="image/x-icon" href="{% static 'img/logo_imap.ico' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    {% block styles %}
    {% endblock %}
    <script src="{% static 'js/main.js' %}" defer></script>
</head>
<body class="position-relative preload">
    {% block navbar %}
    <nav>
        <div class="hideMenu">
            <div class="hide">X</div>
            <div class="show">
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
        <div class="logo">
            <div class="logo-content" style="--url-img: url({% static 'img/logo_imap.png' %})"></div>
        </div>
        <div class="big-title">
            <span>I</span>
            <span>M</span>
            <span>A</span>
        </div>
        <h1 class="title">IMA</h1>
        <h1 class="title">Inventario</h1>
        <div class="links-box">
            <ul class="links links-content">
                <p class="title-dropdown">
                    <span>Inventario</span>
                    <span><i class="fa-solid fa-list-check"></i></span>
                </p>
                <div class="content">
                    <a href="{% url 'app:tools' %}" class="link">
                        <span><ion-icon name="construct-outline"></ion-icon></span>
                        <span class="text-link">Herramientas especiales</span>
                    </a>
                    <a href="{% url 'app:items' %}" class="link">
                        <span><ion-icon name="clipboard-outline"></ion-icon></span>
                        <span class="text-link">Almacen IMA</span>
                    </a>
                    <a href="{% url 'app:sales' %}" class="link">
                        <span><ion-icon name="storefront-outline"></ion-icon></span>
                        <span class="text-link">Ventas</span>
                    </a>
                    <a href="{% url 'app:rents' %}" class="link">
                        <span><ion-icon name="cash-outline"></ion-icon></span>
                        <span class="text-link">Rentas</span>
                    </a>
                    <a href="{% url 'app:history' %}" class="link">
                        <span><ion-icon name="newspaper-outline"></ion-icon></span>
                        <span class="text-link">Historial</span>
                    </a>
                </div>
            </ul>
            <ul class="links">
                <p class="title-dropdown">
                    <span>Configuración</span>
                    <span><i class="fa-solid fa-user"></i></span>
                </p>
                <div class="content">
                    <a href="https://1drv.ms/f/s!AhPPNO1MaPXCgccDylM82juyMxo3Hw?e=HofryZ" target="_blank" class="link">
                        <span><ion-icon name="folder-outline"></ion-icon></span>
                        <span class="text-link">Carpeta IMA</span>
                    </a>
                    <a href="{% url 'app:signout' %}" class="link">
                        <span><ion-icon name="log-out-outline"></ion-icon></span>
                        <span class="text-link">Cerrar sesión</span>
                    </a>
                </div>
            </ul>
        </div>
    </nav>
    {% endblock %}
    {% block content %}
    {% endblock %}
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.9.0/dist/sweetalert2.all.min.js"></script>
    {% block scripts %}
    {% endblock %}
</body>
</html>