{% extends "includes/base.html" %}
{% load static %}
{% block title %}Historial{% endblock %}
{% block styles %}
<link rel="stylesheet" href="{% static 'css/history.css' %}">
<link rel="stylesheet" href="{% static 'css/search.css' %}">
{% endblock %}
{% block content %}
<div class="container">
    <h1 class="text-center">Historial de movimientos</h1>
    <div class="table-container table-history">
        <div class="input-search">
            <div>
                <input type="text" name="searchData" placeholder="Buscar...">
                <div class="icons">
                    <ion-icon name="search-outline" class="show"></ion-icon>
                </div>
            </div>
        </div>
        <div class="table">
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Usuario</th>
                        <th>Producto</th>
                        <th>Descripción</th>
                        <th>Fecha y hora</th>
                    </tr>
                </thead>
                <tbody id="data-list">
                    {% for h in history %}
                        {% if h.venta %}
                            <tr>
                                <td>{{ h.pk }}</td>
                                <td>{{ h.usuario__name_user }}</td>
                                <td>{{ h.venta__producto__descripcion }}</td>
                                <td>{{ h.descripcion }}</td>
                                <td>{{ h.fecha_hora|date:"j F o h:i A" }}</td>
                            </tr>
                        {% elif h.renta %}
                            <tr>
                                <td>{{ h.pk }}</td>
                                <td>{{ h.usuario__name_user }}</td>
                                <td>{{ h.renta__producto__descripcion }}</td>
                                <td>{{ h.descripcion }}</td>
                                <td>{{ h.fecha_hora|date:"j F o h:i A" }}</td>
                            </tr>
                        {% else %}
                            <tr>
                                <td>{{ h.pk }}</td>
                                <td>{{ h.usuario__name_user }}</td>
                                <td>{% if 'Registró' in h.descripcion %} {{ h.descripcion|cut:"Registró nuevo producto: "|capfirst }} {% elif 'Modificó' in h.descripcion %} {{ h.descripcion|cut:"Modificó"|capfirst }}{% elif 'Eliminó' in h.descripcion %} {{ h.descripcion|cut:"Eliminó"|capfirst }} {% else %} {{ h.descripcion|cut:'Salida de producto en uso'|cut:', cantidad actual:' }} {% endif %}</td>
                                <td>{{ h.descripcion }}</td>
                                <td>{{ h.fecha_hora|date:"j F o h:i A" }}</td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
    <script src="{% static 'js/filters.js' %}"></script>
{% endblock %}