{% extends "includes/base.html" %}
{% load static %}
{% block title %}{% if option %}Venta{% else %}Renta{% endif %} {{ item.pk }}{% endblock %}
{% block styles %}
<link rel="stylesheet" href="{% static 'css/cards.css' %}">
{% endblock %}

{% block content %}
<div class="container">
    {% if user.is_staff %}
        <span hidden class="url-update-movement">{% if option %}{% url 'app:update_sale' id_sale=item.pk %}{% else %}{% url 'app:update_rent' id_rent=item.pk %}{% endif %}</span>
    {% endif %}
    <h1 class="text-center" style="font-size: 4em;">{% if option %}Venta{% else %}Renta{% endif %} {{ item.pk }}</h1>
    <section style="border: 1px solid; border-radius: 10px; margin: 10px auto; width: 650px; max-width: 600px; height: 350px; min-height: 200px;">
        <h2 style="font-size: 40px; padding: 10px; text-align: center">Información</h2>
        <div class="card-body" style="display: flex; flex-direction: row; width: 100%; height: 100%; gap: 5px; padding: 10px; align-items: start">
            <section style="display: flex; flex-direction:column; width: auto; justify-content: center; align-items: start; gap: 10px">
                <span style="width: 100%; font-size: 20px">{% if item.producto__categoria == 'HERRAMIENTA' %}Herramienta{% else %}Equipo{% endif %}</span>
                <span style="width: 100%; font-size: 20px">Fecha de salida</span>
                {% if option == False %}
                    <span style="width: 100%; font-size: 20px">Fecha de regreso</span>
                {% endif %}
                <span style="width: 100%; font-size: 20px">No. serie</span>
                <span style="width: 100%; font-size: 20px">Cantidad en{% if item.tipo_movimiento == 'VENTA' %} venta{% else %} renta{% endif %}</span>
                <span style="width: 100%; font-size: 20px">Estado actual</span>
            </section>
            <hr style="height: calc(100% - 75px);">
            <section style="display: flex; flex-direction:column; width: 50%; justify-content: center; align-items: start; gap: 10px">
                <span style="width: 100%; font-size: 20px">{{ item.producto__producto__descripcion }}</span>
                <span style="width: 100%; font-size: 20px">{{ item.fecha_salida|default:"Sin fecha" }}</span>
                {% if option == False %}
                    <span style="width: 100%; font-size: 20px">{{ item.fecha_regreso|default:"Sin fecha" }}</span>
                {% endif %}
                <span style="width: 100%; font-size: 20px">{{ item.producto__no_serie|default:"S/N" }}</span>
                <span style="width: 100%; font-size: 20px">{{ item.cantidad }}</span>
                <span style="width: 100%; font-size: 20px; padding-top: 0; padding-bottom: 0;" class="status status-{% if item.estado == 'Rentado' or item.estado == 'Vendido' or item.estado == 'Listo' %}success{% elif item.estado == 'Cancelado' %}disabled{% else %}error{% endif %}">{{ item.estado|title }}</span>
            </section>
        </div>
    </section>
    {% if user.is_staff %}
        {% if item.estado == 'Rentado' or item.estado == 'Vendido' %}
            <form class="form-movement" style="border: 1px solid; border-radius: 14px; width: 600px; margin: 0 auto; margin-top: 50px; padding: 14px">
                <h1>Modificar datos</h1>
                {% csrf_token %}
                <input type="hidden" name="id_product" value="{{ item.pk }}">
                <div class="box">
                    {% comment %}
                        <div class="box-content">
                            <section>
                                <label>{% if item.producto__categoria == 'HERRAMIENTA' %}Herramienta{% else %}Equipo{% endif %}</label>
                                <select name="sl_product">
                                    {% for product in products %}
                                        <option value="{{ product.pk }}" {% if item.producto__descripcion == product.descripcion %} selected {% endif %}>{{ product.descripcion }}</option>
                                    {% endfor %}
                                </select>
                            </section>
                        </div>
                    {% endcomment %}
                    <div class="box-content">
                        <section>
                            <label for="">Fecha de salida</label>
                            <input type="date" name="fsalida" style="--calendar-logo: url({% static 'img/calendar.png' %})" value="{{ item.fecha_salida|date:'Y-m-d' }}">
                        </section>
                    </div>
                    {% if option == False %}
                    <div class="box-content">
                        <section>
                            <label for="">Fecha de regreso</label>
                            <input type="date" name="fregreso" style="--calendar-logo: url({% static 'img/calendar.png' %})" value="{{ item.fecha_regreso|date:'Y-m-d' }}">
                        </section>
                    </div>
                    {% endif %}
                    <div class="box-content">
                        <section>
                            <label for="cantidad">Cantidad</label>
                            <input type="number" step="any" name="cantidad" value="{{ item.cantidad|default:0 }}">
                        </section>
                    </div>
                </div>
                <div class="box">
                    <div class="btns-form">
                        <button type="submit">Actualizar datos</button>
                    </div>
                </div>
            </form>
        {% endif %}
    {% endif %}
    {% comment %}
        <div class="table-container">
            <div class="table">
                <table>
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Cantidad</th>
                            <th>Estado</th>
                            <th>Fecha de cambio</th>
                        </tr>
                    </thead>
                    <tbody id="data-list">
                        {% for history in history_changes %}
                            <tr>
                                <td>{{ history.pk }}</td>
                                <td>{{ history.cantidad|default:0 }}</td>
                                <td><p class="status status-"></p>
                                    {{ history.estado__descripcion|default:"" }}</td>
                                <td>{{ history.fecha_cambio|default:"Sin fecha" }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    {% endcomment %}
</div>
{% endblock %}

{% block scripts %}
    {% if user.is_staff %}
        {% if item.estado == 'Rentado' or item.estado == 'Vendido' %}
        <script src="{% static 'js/movements.js' %}"></script>
        {% endif %}
    {% endif %}
{% endblock %}